<div class="container">
  <!-- <header> -->
    <div class="pb-md-3 mx-auto text-center">
      <span class="display-5 fw-normal">Performance Comercial</span>
      <!-- <p class="fs-5 text-muted">An&aacute;lisis del performance de los consultores.</p> -->
    </div>
  <!-- </header> -->

  <main>
    <div class="row row-cols-12 mb-12">

      <div class="col-md">
        <div class="card mb-12 rounded-3 shadow-sm">
          <div class="card-header text-center">
            <h5 class="my-0 fw-normal">Por Consultores</h5>
          </div>

          <div class="card-body">

            <div class="row">
              <div class="col-md-12 col-lg-3 mb-3">
                <div class="card mb-12 rounded-3 shadow-sm border-primary">
                  <div class="card-header text-center text-white bg-primary">
                    <span class="my-0 fw-normal">Listado de Consultores</span>
                    <!-- <button class="btn btn-flat">Refresh</button> -->
                  </div>
                  <div class="card-body">
                    <!-- List of consultants -->
                    <div class="list-group list-group-adjust" *ngIf="consultants.length > 0">
                      <label class="list-group-item" *ngFor="let user of consultants">
                        <input class="form-check-input me-1" type="checkbox" [(ngModel)]="user.selected"> {{user.name}}
                      </label>
                    </div>

                    <!-- Not results -->
                    <ul class="list-group" *ngIf="consultants.length == 0 && !loading">
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        No esiten datos para mostrar
                      </li>
                    </ul>
                    <!-- Fetching data -->
                    <ul class="list-group" *ngIf="consultants.length == 0 && loading">
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Obteniendo datos...
                      </li>
                    </ul>

                  </div>
                </div>
              </div>
            
              
              <div class="col-md-9">

                <div class="row">
                  <!-- Selectores -->
                  <div class="col-sm-12 col-md-9 col-lg-7">
                    <div class="input-group mb-3">
                      <span class="input-group-text">Periodo:</span>
                      <select class="form-control" [(ngModel)]="initMonth">
                        <option *ngFor="let m of months" [ngValue]="m.id">{{m.value}}</option>
                      </select>
                      <select class="form-control" [(ngModel)]="initYear">
                        <option *ngFor="let y of years" [ngValue]="y">{{y}}</option>
                      </select>

                      <span class="input-group-text"> a </span>

                      <select class="form-control" [(ngModel)]="endMonth">
                        <option *ngFor="let m of months" [ngValue]="m.id">{{m.value}}</option>
                      </select>
                      <select class="form-control" [(ngModel)]="endYear">
                        <option *ngFor="let y of years" [ngValue]="y">{{y}}</option>
                      </select>
                    </div>
                  </div>
                  <!-- Botones de acciones -->
                  <div class="col-sm-12 col-md-3 col-lg-3 text-center">
                    <div class="btn-group mb-3" role="group">
                      <button type="button" class="btn btn-outline-secondary" (click)="getEarnings()">
                        Ganancias
                      </button>
                      <button type="button" class="btn btn-outline-secondary" (click)="getGraphic()">
                        Gr&aacute;fico
                      </button>
                      <button type="button" class="btn btn-outline-secondary" (click)="getPizzas()">
                        Pizza
                      </button>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <!-- Resultados del boton Relatorio -->
                  <div class="col" *ngIf="showEarnings && !loading">
                    
                    <div class="table-responsive" *ngFor="let sel of earnings">
                      <!-- List of consultants -->
                      <table class="table table-hover table-bordered ">
                        <thead class="table-light">
                          <tr>
                            <th colspan="5"><span class="my-0 fw-normal"><strong>{{sel.name}}</strong></span></th>
                          </tr>
                          <tr>
                            <td class="text-center" style="min-width:150px;">Periodo</td>
                            <td class="text-center" style="min-width:200px;">Ganancia L&iacute;quida</td>
                            <td class="text-center" style="min-width:150px;">Costo Fijo</td>
                            <td class="text-center" style="min-width:200px;">Comisi&oacute;n</td>
                            <td class="text-center" style="min-width:200px;">Lucro</td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let data of sel.earnings; let first = first; let last = last;"
                            [ngClass]="{'table-light': last}">
                            <td [ngClass]="{'text-center': last}">{{first ? getInitPeriodo() : !last ? getEndPeriodo() : 'SALDO'}}</td>
                            <td class="text-end">{{data.netEarning | currency}}</td>
                            <td class="text-end">{{data.fixedCost | currency}}</td>
                            <td class="text-end">{{data.commission | currency}}</td>
                            <td class="text-end">{{data.profit | currency}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                  </div>

                  <!-- Resultados del boton Graphic -->
                  <div class="col" *ngIf="showGraphics && !loading">

                    <div class="container-flex">
                      <!-- <div class="row"> -->
                        <highcharts-chart 
                          [Highcharts] = "barsCharts"
                          [options] = "barsOptions">
                        </highcharts-chart>
                      <!-- </div> -->
                    </div>
                    
                  </div>

                  <!-- Resultados del boton Pizza -->
                  <div class="col" *ngIf="showPizzas && !loading">

                    <!-- <div class="container"> -->
                      <!-- <div class="row"> -->
                        <!-- <div class="col-sm"> -->
                          <highcharts-chart 
                            [Highcharts]="piesCharts"
                            [options]="piesOptions">
                          </highcharts-chart>
                        <!-- </div> -->
                      <!-- </div> -->
                    <!-- </div> -->

                  </div>

                </div>

              </div>
            </div>

          </div>

        </div>

      </div>

    </div>
  </main>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <div class="spinner-border text-light" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <!-- <p style="color: white">Please Wait. </p> -->
</ngx-spinner>